[Unit]
After=network.target nss-lookup.target

[Service]
User=root
WorkingDirectory=/opt/sagernet/sing-box-ui/core
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
ExecStart=/opt/sagernet/sing-box-ui/core run -c /opt/sagernet/sing-box-ui/sing-box_config.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
